.my-input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

.btn {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    color: white;
    background-color: blue;
    border-radius: 50px;
    border: none;
}

.btn:hover {
    background-color: rgb(3, 3, 110);
}