.my-card {
    min-height: 200px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.my-title {
    padding: 10px;
    min-height: 20px;
    background-color: lightgrey;
    border-bottom: 2px solid black;
}

.my-card-body {
    min-height: 100px;
    padding: 1rem;
}